.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

**/*.png
**/*.jpg
**/*.webp
**/*.svg
**/*.gif

*.txt
*.json
!nav.json
!package.json
.eslintrc.json

caddy-auth.conf
/static
!/static/favicon.ico

browse-thumbs.html
