(logformat) {
  log {
    format console
  }
}

{
  auto_https off
}

(thestatic) {
  root /caddy/static

  # serve existing files in /img, /art and /thumbs
  file_server {
    pass_thru
  }

  # pass everything else to reverse proxy
  reverse_proxy localhost:3000
}

(thefiles) {
  root /caddy/static/files

  import /etc/caddy/caddy-auth.conf

  file_server {
    browse /caddy/browse-thumbs.html
  }
}

http://files.netdeneb.com {
  encode gzip zstd

  import logformat

  import thefiles

  route /thumbs/* {
    import thestatic
  }
}

:80 {
  root * /caddy/static
  encode gzip zstd

  import logformat

  # use caddy file browser for /files
  redir /files /files/
  handle_path /files/* {
    import thefiles
  }

  redir /ftpfile /files{uri}
  redir /getfile /files{uri}

  route {
    import thestatic
  }
}
