:3100 {
  root * .
  encode gzip zstd

  # use caddy file browser for /files
  handle /files* {
    file_server browse
  }
  basicauth /files/priv* {
    # <username> <`caddy hash-password`>
  }

  redir /ftpfile /files{uri}
  redir /getfile /files{uri}

  # serve existing files in /img, /art and /thumbs
  file_server

  # forward other requests to reverse proxy
  @notStatic not {
    file
    path /img/* /art/* /thumbs/* /favicon.ico /robots.txt
  }
  reverse_proxy @notStatic localhost:3000
}
