:80 {
  root * /caddy/static
  encode gzip zstd

  # use caddy file browser for /files
  handle /files* {
    file_server {
      browse /caddy/browse-thumbs.html
    }
  }

  import /etc/caddy/caddy-auth.conf

  redir /ftpfile /files{uri}
  redir /getfile /files{uri}

  route {
    # serve existing files in /img, /art and /thumbs
    file_server {
      pass_thru
    }

    # pass everything else to reverse proxy
    reverse_proxy localhost:3000
  }
}
