[Unit]
Description=Netdeneb.com (Docker)
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/srv/netdeneb
ExecStart=/usr/bin/docker run --rm --name netdeneb \
            -p 3000:80 \
            -v /srv/netdeneb/nav.json:/nav.json:ro \
            -v /srv/netdeneb/config.json:/config.json:ro \
            -v /srv/netdeneb/socials.json:/socials.json:ro \
            -v /srv/netdeneb/img:/img/ro \
            -v /srv/netdeneb/art:/art:ro \
            -v /srv/netdeneb/files:/files:ro \
            -v /srv/netdeneb/thumbs:/thumbs \
            netdeneb:latest
ExecStop=docker stop netdeneb

[Install]
WantedBy=default.target
