[Unit]
Description=Netdeneb.com (Docker)
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/srv/netdeneb
ExecStart=/usr/bin/docker run --init --rm --name netdeneb \
            -p 3000:80 \
            -e APP_CONFIG_PATH=/config/config.json \
            -v /srv/netdeneb/Caddyfile:/etc/caddy/Caddyfile:ro \
            -v /srv/netdeneb/caddy-auth.conf:/etc/caddy/caddy-auth.conf:ro \
            -v /srv/netdeneb/config:/config \
            -v /srv/netdeneb/static:/caddy/static \
            -v /srv/netdeneb/files:/caddy/static/files:ro \
            netdeneb:latest
ExecStop=/usr/bin/docker stop netdeneb

[Install]
WantedBy=default.target
