html {
    height: 100%;
}

a {
    text-decoration: none;
}

:root * {
    box-sizing: border-box;
    color: var(--text-color);
    accent-color: var(--primary);
}

.bold {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.75rem;
}

.chevron {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .255em solid;
    border-right: .255em solid transparent;
    border-bottom: 0;
    border-left: .255em solid transparent;
    color: inherit;
}

body {
    background: var(--page-background);
    background-attachment: fixed;
    background-position-x: 20%;
    background-size: cover;
}
div.bg-blur {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 10px;

    background-attachment: fixed;
    background-position-x: 20%;
    background-size: cover;
    filter: blur(5px);
    z-index: -1;
}

button, .btn {
    background: transparent;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.15s;
    box-shadow: 0 0 3px 3px var(--shadow-color);
}

.grid {
    display: grid;
    grid-template-columns: 1fr auto;
}
.grid > *:not(:last-child) {
    margin-right: 20px;
}

/* my fucking god why are you so stubborn */
.svelte-fa, .svelte-fa * {
    transition: inherit;
}

.click-move-down {
    transition: 0.125s ease-in-out;
}

.click-move-down:active {
    transform: translateY(2px);
}

.box, button, .btn {
    border: 1px solid var(--text-color);
    border-radius: 5px;
    box-shadow: 0 0 3px 3px var(--shadow-color);
}
.box:hover, button:hover, .btn:hover {
    background-color: var(--background-hover);
}
.box:active, button:active, .btn:active {
    background-color: var(--background-active);
}
.box a {
    text-decoration: none;
}