[Unit]
Description=leggi.es (reverse proxy)

[Service]
Type=notify
Restart=on-failure
WorkingDirectory=/srv/netdeneb
ExecStart=/usr/bin/caddy run \
	--config /srv/netdeneb/caddy/Caddyfile

[Install]
WantedBy=default.target
