[Unit]
Description=Reload systemd and restart '%I'

[Service]
Type=oneshot
ExecStart=systemctl --user daemon-reload
ExecStart=systemctl --user restart %I
